/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
  --ifm-color-primary: #0069d9;
}

[data-theme="dark"]:root {
  --ifm-toc-border-color: #373737;
  --ifm-color-primary: #55a7ff;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
}

.main-wrapper > div:first-child {
  flex: 1 0 0;
}

.navbar__toggle,
.navbar__logo {
  margin-right: 1rem;
}

.header-github-link::before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background-repeat: no-repeat;
  background-image: url("/experimenter-docs/img/github.svg");
}

[data-theme="dark"] .header-github-link::before {
  background-image: url("/experimenter-docs/img/github-dark.svg");
}

.menu__list a[href^="http://"]:not([href*="localhost:3000"]):after,
.menu__list a[href^="https://"]:not([href*="mozilla.github.io/experimenter-docs"]):after
{
  content: "";
  background-repeat: no-repeat;
  background-image: url("/experimenter-docs/img/external.svg");
  display: block;
  min-width: 15px;
  height: 15px;
  top: 2px;
  position: relative;
  margin-left: 10px;
}
